@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

details[open] .icon {
  transform: rotate(270deg);
}

.boder-r {
  border-right: 1px solid #e4edf4;
}

@media (min-width: 1919px) {
  .phone {
    display: none;
  }
}
@media (max-width: 1919px) {
  .pc {
    display: none;
  }
}

.ql-editor{
  min-height: 85vh !important;
  max-height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
}

.modal {
  transform: translate(-50%, -50%);
}